@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100&display=swap');

@import './index.css';
@import './landing.css';
@import './play.css';
@import './playscratch.css';
@import './playnav.css';
@import './sidebar.css';
@import './loading.css';
@import './cards.css';
@import './quickstyles.css';