.scratch-card-wrapper header{
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    margin: 1em;
}

.scratch-card{
    position: relative;
    width: fit-content;
    margin: auto;
}

.scratch-block{
    width: 300px;
    height: 400px;
    background: chocolate;
    position: absolute;
    z-index: 3;
}

.scratch-content{
    width: 165px;
    height: 145px;
    background: rgb(255, 255, 255);
    position: absolute;

}

@keyframes bonus-glow{
    0% {box-shadow: 4px 0px 1em 3px magenta;}
    25% {box-shadow: 0px 4px 2em 10px rgb(0, 255, 0);}
    75% {box-shadow: 4px 0px 1em 3px rgb(255, 230, 0);}
    100% {box-shadow: 2px 2px 2em 10px rgb(38, 0, 255);}
}

.scratch-bonus-wrapper{
    display: flex;
    position:absolute;
    width:3em;
    height:3em;
    padding: 1em;
    font-size: .75em;
    border-radius: 50%;
    background: yellow;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 1em 3px rgb(255, 230, 0);
    animation: 4s ease-in-out 0s infinite alternate bonus-glow;
}

.scratch-bonus-wrapper >div{
    font-weight: 700;
}

.bananas-bonus{
    left: 105px;
    top: 80px;
    z-index: 4;
}

.lucky-bonus{
    left: 95px;
    top: 110px;
    z-index: 4;
}

.golds-bonus{
    left: 95px;
    top: 85px;
    z-index: 4;
}

.cash-bonus{
    left: 235px;
    top: 320px;
    z-index: 4;
    border-radius: 8px;
    width: 4em;
}

.goldm-bonus{
    left: 235px;
    top: 320px;
    z-index: 4;
    border-radius: 8px;
    width: 4em;
}

.goldl-bonus{
    left: 140px;
    top: 560px;
    z-index: 4;
    border-radius: 8px;
    width: 4em;
}
.goldl-bonus2{
    left: 50px;
    top: 560px;
    z-index: 4;
    border-radius: 8px;
    width: 4em;
}
.goldl-bonus3{
    left: 230px;
    top: 560px;
    z-index: 4;
    border-radius: 8px;
    width: 4em;
}


.scratch-content table{
    margin: auto;
    margin-left: 28px;
    border-spacing: 0;
}

.scratch-content table td{
    padding: 10px 15px;
    border: 1px solid black;

}

.scratch-card-img{
    width: 350px;
    margin: auto;
    user-select: none;
}

.winning-num{
    background: yellow;
}

.hide-card{
    opacity: 0;
    z-index:-1;
}

.show-bonus{
    opacity: 100;
    transition: opacity ease-in-out 1s;
    z-index:2;
}

.hide-bonus{
    opacity: 0;
    z-index:-1;
}

.show-card{
    opacity: 100;
    transition: opacity ease-in-out 1s;
    z-index:1;
}

.scratch-card-menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.scratch-card-menu-wrapper >div{
    padding: 1em;
    background: bisque;
    margin: 1em;
    border-radius: 4px;
    box-shadow: 1px 1px 6px 1px gray;
}

.redhot-position{
    top: 35px;
    left: 135px;
}

.bananas-position{
    top: 35px;
    left: 145px;
}

.lucky-position{
    top: 17px;
    left: 150px;
    height: 148px;
}

.moneytree-position{
    top: 35px;
    left: 155px;
}

.golds-position{
    top: 35px;
    left: 145px;
}

.cash-position{
    top: 125px;
    left: 20px;
    height: 200px;
    width: 300px;
}

.goldm-position{
    top: 125px;
    left: 25px;
    height: 200px;
    width: 295px;
}

.goldl-position{
    top: 145px;
    left: 25px;
    height: 390px;
    width: 295px;
}

.scratch-card-table-m-wrapper{
    display: flex;
}

.scratch-card-table-m-winning {
    font-size: .75em;
}

.scratch-card-table-l-wrapper{
    width: 100%;
}

.scratch-card-table-l-wrapper table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 8px 0;
}

.scratch-card-table-l-wrapper table td{
    padding: .5rem .8rem;
}

.scratch-card-table-l-winning table{
    font-size: .75em;
}


@import './payout.css';