.wrapper {
  display: flex;
  min-height: 100vh;
  /* background-image: url("../assets/698574.jpg"); */
  background: #f95807;
  background-blend-mode: lighten;
  background-repeat:repeat;
  background-attachment: scroll;
  touch-action: manipulation;
}


#logo {
  width: 100%;
}

.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  width:100%;
}

.btn{
  width: 6rem;
  transition: opacity 500ms;
  }

.btn:hover{
  opacity: .5;
}



/* 
For Animations

@keyframes bounce-background {
  from {
      background-position: top;
  }


  to{
    background-position: bottom;
  }
} 

.App {
  text-align: center;
  background-image: url("../assets/698574.jpg");
  background-blend-mode: lighten;

  animation-name: bounce-background;
  animation-timing-function: ease-in-out;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;

  For Chrome & Safari
  -webkit-animation-name: bounce-background;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
 }


*/

