.loading-wrapper{
    text-align: center;
    margin: 2em;
}

.success-wrapper{
    text-align: center;
    margin: 2em;
}

.success-wrapper{
    text-align: center;
    margin: 2em;
}

.success-wrapper >embed{
    width: 5em;
}

.success-wrapper>div{
    margin: 1em auto;
}

.fail-wrapper{
    text-align: center;
    margin: 2em;
}

.fail-wrapper >embed{
    width: 5em;
}

.fail-wrapper>div{
    margin: 1em auto;
}

.loading-wrapper>div{
    margin: 1em auto;
}

.loader {
    border: 1em solid #f3f3f3; /* Light grey */
    border-top: 1em solid #fce301; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  