
.pay-wrapper article{
    margin: 2em 0;
}

.pay-wrapper header{
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    margin: 1em;
}

.pay-order-summary-wrapper table{
    border-spacing:0;
    margin: 1em auto;
    width: 80%;
    
}

.pay-order-summary-wrapper thead{
    background: bisque;
    text-align: left;
}

.pay-order-summary-wrapper th{
    padding: .25em;
}

.pay-order-summary-wrapper td{
    padding: 0.5em 0em;
    border-bottom: 1px solid black;
}

#gcash-pay{
    width: 2em;
    margin-bottom: .5em;
}

.pay-button{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: skyblue;
    width: 50%;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 1px gray;
    font-family: "Roboto Condensed";
    font-weight: 100;
    font-size: .9em;
}

.final-row td{
    border-top: 1px solid black;
    border-bottom: 0px solid black;
    font-weight: 700;
}

.pay-tips ol{
    margin: 0 1em;
}

.pay-tips ol > li{
    padding: 0em;
}

.pay-tips ol > li img{
    padding: 1em;
    max-width: 80%;
}

.pay-back{
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 1em;
}

.pay-back img{
    height: 1.5em;
}