
.payout-summary-wrapper header{
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    margin: 1em;
}

.payout-summary-wrapper table{
    border-spacing:0;
    margin: 1em auto;
    width: 80%;
    
}

.payout-summary-wrapper thead{
    background: bisque;
    text-align: left;
}

.payout-summary-wrapper th{
    padding: .25em;
}

.payout-summary-wrapper td{
    padding: 0.5em 0em;
    border-bottom: 1px solid black;
}
