
@keyframes glow{
    0% {box-shadow: 4px 0px 1em 3px rgb(255, 230, 0);}
    25% {box-shadow: 0px 4px 2em 10px rgb(255, 230, 0);}
    75% {box-shadow: 4px 0px 1em 3px rgb(255, 230, 0);}
    100% {box-shadow: 2px 2px 2em 10px rgb(255, 230, 0);}
}


.play-scratch-wrapper{
    display: flex;
    flex-wrap:nowrap;
    background: orangered;
    border-radius: 8px;
    margin: 1em;
    justify-content: space-between;
    padding: 1em;
}


.play-scratch-content{
    font-family: "Roboto";
    color: white;
}

.play-scratch-title{
    font-family: "Rye";
    font-size: 2em;
    font-weight: 700;
}

.play-scratch-subtitle{
    font-size: 1em;
    font-weight: 200;
}

.play-scratch-image{
    max-width: 50%;
}

#win-scratch{
    width: 100%;
    box-shadow: 2px 2px 1em 3px rgb(255, 230, 0);
    animation: 4s ease-in-out 0s infinite alternate glow;
}

#large{
    font-size: 1.25em;
}

@import './playlist.css';
@import './pay.css';

