.play-new-wrapper{
    position: relative;
}

.play-cart-wrapper{
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    background: whitesmoke;
}

.play-cart-text{
    padding: 1em;
    margin: 0;
}

.play-cart-text-label{
 margin:0;
}

.play-cart-text-price{
    font-size: 2em;
    font-weight: 700;
}

.play-cart-button{
    position:relative;
    width: 2.5em;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    height:100%;
    font-size: 2em;
    background: skyblue;
    border-radius: 4px;
}

/* #gcash-cart{
    position: absolute;
    max-height: 3em;
    bottom: .1em;
    right: 2em;
} */

#gcash-cart{
    max-height: 1em;
}

#gcash-label{
    margin-left: 8px;
}