
.play-nav{
    display:flex;
    align-items: center;
    padding: 1em;
    box-shadow: 0px -8px 24px rgba(112, 144, 176, 0.5);
    position:relative;
}

.play-nav-burger{
    flex-basis: 20%;
}

.play-nav-logo{
    flex-basis: 60%;
    text-align: center;
}

.play-nav-logout{
    flex-basis: 20%;
} 

#nav-menu{
    width: 3em;
}

#nav-close{
    width: 2em;
}

#nav-logo{
    max-width: 60%;
}

.play-nav-logout-btn{
    border: 2px solid;
    padding: .5em;
    border-radius: 8px;
}


@import './burger.css';