.align-left{
    text-align: left;
}

.play-table{
    margin: 1em;
}

.play-buycard-card{
    display: flex;
    padding: 1em;
    background: tomato;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 70%;
}

.play-buycard-card-content{
    width:100%;
}

.play-buycard-card-title{
    display: flex;
    justify-content: space-between;
}

#card-name{
    font-family: "Roboto Condensed";
    font-size: 1.5em;
    font-weight: 700;
}

.play-buycard-card-title span{
    font-weight: 400;
    font-size: .9em;
    align-self: flex-end;
}


.play-buycard-card-img{
    margin:0;
}

.play-buycard-card-price{
    margin:0;
}

.play-buycard-card img{
    width: 100%;
}

.play-buycard-counter{
    margin:0;
}

.play-buycard-counter-plus{
    padding: 1em;
    background: whitesmoke;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-weight: 700;
    box-shadow: 1px 1px 6px 1px gray;
    
}

.play-buycard-counter-num{
    padding: 1em;
    text-align: center;
    font-weight: 700;
    background: wheat;
    box-shadow: 1px 2px 6px 1px gray;
}

.play-buycard-counter-minus{
    padding: 1em;
    background: black;
    color: whitesmoke;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    font-weight: 700;
    box-shadow: 1px 2px 6px 1px gray;
}

.yellow{
    background: #f5ee55;
    box-shadow: 1px 1px 6px 1px gray;
    color:red;
/*     -webkit-text-stroke-color: orange;
    -webkit-text-stroke-width: .5px; */
}

.orange{
    background: tomato;
    color: white;
    box-shadow: 1px 1px 6px 1px gray;
}

.skyblue{
    background: #24a26b;
    color: yellow;
    box-shadow: 1px 1px 6px 1px gray;
}

.red{
    background: red;
    box-shadow: 1px 1px 6px 1px gray;
}

.navyblue{
    background: gold;
    color: navy;
    box-shadow: 1px 1px 6px 1px gray;
}

.pink{
    background: pink;
    color: darkviolet;
    box-shadow: 1px 1px 6px 1px gray;
}


@import './playoverlay.css';