.hide{
    display:none;
}

.fixed{
    position: fixed;
}

.center-text-align{
    text-align: center;
}

.flex{
    display: flex;
}

.no-text-decorations{
    text-decoration: none;
}

.test-position{
    left: 260px;
    top:110px;
    position: absolute;
    width: 275px;
    height: 125px;
    z-index:-1;
}

.test-dims{
    width: 275px;
    height: 125px;
}

.relative{
    position:relative;
}

.no-scroll{
    overflow-x:hidden;
    overflow-y:hidden;
    touch-action: none;
}

.move-to-back{
    z-index:-1;
}

.hide-scratch-img{
    z-index:-1;
    position: absolute;
}

.scratch-card-wrapper{
    height:100%;
}

