.sidebar-container{
    display: block;
    flex-wrap: wrap;
    flex: .25 1 25%;
    background-color: #34373A;
    color: #F8F9FF;
    padding: 3em 1em;
}

.sidebar-name{
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
}

.sidebar-signout{
    color: #F8F9FF;
    font-size: 12px;
    margin: auto;
    margin-right:0px;
}

.sidebar-wallet{
    background-color: #17578F;
    padding: 1em;
    margin: 2em 0em;
}

.sidebar-wallet-label{
    font-size: 16px;
}

.sidebar-wallet-balance{
    font-size: 48px;
    font-weight: 700;
}

.sidebar-actions{
    display: flex;
    margin-bottom: 1em;
}

.sidebar-actions-withdraw{
    padding: 1em 2em;
    border: 2px solid #F8F9FF;
    border-radius: 8px;
    margin-right: 1em;
}

.sidebar-actions-load{
    padding: 1em 2em;
    border-radius: 8px;
    background: #17578F;
    color: #F8F9FF;
}

.sidebar-menu{
   display:block;
}

.sidebar-menu-item{
    display: flex;
    padding: 1em;
}

.sidebar-menu-item-label{
    margin: auto 1em;
}

.highlight{
    background-color: #17578F;
}